/* CSS Document */
*{
	padding: 0;
	margin: 0;
	
}

body{
/*	background-color: antiquewhite;*/
}
.khung{
	width: 1400px;
	height: 900px;
/*	background-color: aquamarine;*/
	margin: 0 auto;
	position: relative;
}
.khungto{
	width: 486px;
	height: 180px;
/*	background-color: blue;*/
	margin-left: 457px;
	position: relative;
	top:70px;
	background-image: url(image/dangky/images/Untitled-1_03.png);
}
.khungnho{
	width: 486px;
	height: 600px;
	background-color: #FFFFFF;
	position: relative;
	left: 457px;
	top:80px;
}
.tendangnhap{
	width: 181px;
	height: 22px;
/*	background-color: black;*/
	background-image: url(image/dangky/images/Untitled-1_06.png);
	margin-top: -25px;
/*	margin-bottom: 100px*/
}
table input {
	width: 248px;
	height: 34px;
	margin-left:38px;
	border: 2.5px solid #1CCFC9;
	border-radius: 10px;
	
/*	margin-bottom: 38px;*/
/*	line-height: 30px;*/
}
table td{
	margin-bottom: 100px;
}
.gomeo{
	width: 93px;
	height: 22px;
/*	background-color: antiquewhite;*/
	background-image: url(image/dangky/images/Untitled-1_09.png);
	margin-top: -25px;
}
input{
	margin-bottom: 34px;
	font-size: 20px;
	padding-left: 10px;
}
.sdt{
	width: 178px;
	height: 22px;
/*	background-color: antiquewhite;*/
	background-image: url(image/dangky/images/Untitled-1_12.gif);
	margin-top: -25px;
}
.mk{
	width: 109px;
	height: 21px;
/*	background-color: antiquewhite;*/
	background-image: url(image/dangky/images/Untitled-1_15.gif);
	margin-top: -25px;
}
.xnmk{
	width: 167px;
	height: 21px;
/*	background-color: antiquewhite;*/
	background-image: url(image/dangky/images/Untitled-1_18.gif);
	margin-top: -25px;
}
.ngaysinh{
	width: 123px;
	height: 21px;
/*	background-color: aqua;*/
	background-image: url(image/dangky/images/Untitled-1_21.gif);
	margin-top:5px;
}
.ngay{
	width: 66px;
	height: 34px;
	border: 2.5px solid #1ccfc9;
	border-radius: 10px;
	position: absolute;
	left: 223px;
	top:370px;
/*	right:1px;	*/
}
.thang{
	width: 66px;
	height: 34px;
	border: 2.5px solid #1ccfc9;
	border-radius: 10px;
	position: absolute;
	left: 322px;
	top:370px;
/*	right:1px;	*/
}
.nam{
	width: 66px;
	height: 34px;
	border: 2.5px solid #1ccfc9;
	border-radius: 10px;
	position: absolute;
	right: 0;
	top:370px;
/*	right:1px;	*/
}
select{
	font-size: 12px;
	padding-left: 3px;
}
.checkbox{
	width: 486px;
	height: 21px;
/*	background-color: darkgreen;*/
	margin-top: 30px;
	margin-right: 10px;
/*	text-align: center;*/
	line-height: 10px;
}
.checkbox img{
	margin-left: 10px;
	margin-top: 15px;
}
.dangky1{
	width: 486px;
	height: 50px;
	background-color: #1ccfc9;
	margin-top: 50px;
	border-radius: 10px;
	text-align: center;
	padding-top:8px;
	box-sizing: border-box;
/*	line-height: 50px;*/
}
.dangky1:hover{
	background-color: #FD7825;
	transition-duration: 0.6s;
}
.dangkytext{
	width: 160px;
	height: 35px;
/*	background-color: blue;*/
	background-image: url(image/dangky/images/dk.png);
	margin-left: 162px;
}
.meo{
	width: 227px;
	height: 233px;
/*	background-color: yellowgreen;*/
	position: absolute;
	right: 100px;
	bottom: 130px;
	background-image: url(image/dangky/images/meo.png);
}