/* CSS Document */
*{
	margin: 0;
	padding: 0;
	
}

body{
	background: aquamarine;
	font-family: Helvetica Neue;
	font-weight: bold;
}

.wrapper{
	width: 100%;
	height: 1200px;
/*	background-color: antiquewhite;*/
	margin: 0 auto;
	position: relative;
}
.wrapper .header{
	width: 100%;
	height: 108px;
	background-color: #1CCFC9;
	position: relative;

/*	padding-top:37px;*/
}
.logo{
	width: 76px;
	height: 69px;
/*	background-color: antiquewhite;*/
	margin-top: 19.5px;
	margin-left: 150px;
	float: left;
	background-image: url(image/logo.png);
}
.menu{
	width: 80%;
	height: 108px;
/*	background-color: black;*/
	float: right;
/*	margin-right: 45px;*/
/*	padding-top: 37px;*/
	box-sizing: border-box;}
.menu-1{
	width: 70%;
	height: 108px;
/*	background-color: red;*/
	margin-left: 180px;
	text-align: center;
	position: relative;
	
}
.menu .menu-1 ul{
	list-style: none;
	text-align: center;
	
}
.menu .menu-1 ul li{
	display: inline-block;
	margin-right:80px;
	line-height: 108px;
	position: relative;

}
.menu ul li a{
	color: #FFFFFF;
	text-decoration: none;
	opacity: 1;
}
.menu ul li a:hover{
	opacity: 0.6;
	transition-duration: 0.3s;
}
.line{
	width: 0px;
	height: 3px;
	background-color: white;
	transition-duration: 0.5s;
	position: absolute;
	left: 0;
	bottom: 0;
}
.menu li:hover .line{
	width: 100%;
}
.menu .icon{
	width: 5%;
	height: 108px;
/*	background-color: blanchedalmond;*/
	float: right;
	position: absolute;
	right: 150px;
	bottom: 0;
	line-height: 108px;
}
.icon ul{
	list-style: none;
}
.icon ul li{
	display: inline-block;
	margin-left: 10px;
	color: white;}
.banner{
	width: 100%;
	height: 617px;
	background-color: blueviolet;
	float: left;
	background-size: cover;
}
